@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');

body,
html {
  background-color: #0d1117;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: none;
  display: flex;
  font: normal 14px Helvetica;
  justify-content: center;
  height: 100vh;
}

main {
  font-family: 'Pontano Sans', sans-serif;
  position: absolute;
  top: 1%;
  width: 50%;
  
}

nav,
footer {
  text-align: center;
}

/* Header Of Page */
header {
  background-color: #0d1117;
  color: #a6a6a6;
  padding: 1px;
  position: sticky;
  text-align: right;
  top: 0;
}

.header-sec-color {
  color: white;
}

.text-line {
  visibility: hidden;
}

nav {
  background-color: #1b1b41;
  border-radius: 10px 10px 0 0;
  display: flex;
  font-weight: bold;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: block;
  font-size: 18px;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.nav-button {
  height: 100%;
  width: 100%;
}

.nav-links:hover {
  background-color: #0d1117;
}

.one-column {
  columns: 1;
}

/* Main Content */
#content {
  background: #161b22;
  border-bottom: 5px solid #1b1b41;
  border-radius: 0 0 10px 10px;
  color: #a6a6a6;
  display: flex;
}

h2 {
  border-bottom: 1px solid #696969;
  color: white;
  padding-bottom: 5px;
}

img {
  border: 2px solid #696969;
  border-radius: 20px;
  width: 25vw;
}

section {
  flex: 5;
  margin: 0;
  padding: 0 20px;
}

article {
  margin: 20px 0px;
  font-size: 16px;
  text-align: center;
}

.tech-used {
  columns: 2;
  list-style-type: none;
  width: 80%;
}

.tech-used > li {
  margin-bottom: 15px;
}

.highlight {
  background-color: rgb(255, 255, 255, 0.8);
  color: #0d1117;
  border-radius: 5px;
  font-weight: bold;
  padding: 3px;
}

.project-desc {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.project-desc-text {
  text-align: left;
  width: 38%
}

.vert-spacer {
  width: 20px;
}

/* Footer */
footer {
  color: #696969;
  padding: 20px;
}

/* Responsive for phones */
@media screen and (max-width: 1000px) {

main {
  width: 95%;
}
  
img {
  border: 1px solid #696969;
  border-radius: 10px;
  width: 82vw;
}

.tech-used {
  width: 95%;
}  
  
.project-desc {
  display: block;
  padding: 5px;
  justify-content: space-around;
}

.project-desc-text {
  text-align: left;
  width: 100%;
}

.vert-spacer {
  visibility: hidden;
}
  
}

/* CSS for Buttons */
.button-12 {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  background: #1b1b41;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:hover {
  background-color: #0d1117;
}
